body {
    /*    font-family: 'Roboto Condensed', sans-serif;
*/
    font-family: 'Patrick Hand', cursive;
    color: #505050;
    background-color: #f7f7f7;
    font-size: 22px;
}


.welcome {
    color: #fff;
    font-size: 30px;
    padding-left:1em;
    margin-top:-2em;
}

.welcomeBtn {
    background: white;
    color: #0fa0ce;
    letter-spacing: 0.15em;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 3.5em;
}

a :hover {
    color: #000 !important;
}


.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 1.2em;
}

.active {
    border-bottom: 2px solid #0fa0ce !important;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font-weight: 900;
    color: #0fa0ce;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

        .header .menu-icon .navicon:before,
        .header .menu-icon .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .header .menu-icon .navicon:before {
            top: 5px;
        }

        .header .menu-icon .navicon:after {
            top: -5px;
        }

/* menu btn */

.header .menu-btn {
    display: none;
}

    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

        .header .menu-btn:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
        }

        .header .menu-btn:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
        }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }


/* Color Theme Swatches in Hex */
.hex1 { color: #A3DAE3; }
.hex2 { color: #89A1C9; }
.hex3 { color: #784C87; }
.hex4 { color: #6F2864; }
.hex5 { color: #530F40; }

/* Color Theme Swatches in Hex */
/*.color-theme_Capture-d’écran-2020-03-27-à-10-1-hex { color: #2A020A; }
.color-theme_Capture-d’écran-2020-03-27-à-10-2-hex { color: #734860; }
.color-theme_Capture-d’écran-2020-03-27-à-10-3-hex { color: #A68F9B; }
.color-theme_Capture-d’écran-2020-03-27-à-10-4-hex { color: #F2E9E4; }
.color-theme_Capture-d’écran-2020-03-27-à-10-5-hex { color: #FFFFFF; }*/

/* Color Theme Swatches in Hex */
/*.Color-Theme-11-1-hex { color: #F8B195; }
.Color-Theme-11-2-hex { color: #F67280; }
.Color-Theme-11-3-hex { color: #C06C84; }
.Color-Theme-11-4-hex { color: #6C5B7B; }
.Color-Theme-11-5-hex { color: #355C7D; }*/
/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
        margin-bottom: 0;
    }

        .header li a {
            padding: 20px 30px;
        }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

iframe {
    width: 100%;
    overflow: hidden;
}

@media (max-width:47em) {
    /*#profilepic {
        width: 100% !important;
        height: 100% !important;
        float:left;
    }*/

    .sidebar {
        margin-top: 2em;
        padding: 1em;
    }

    iframe {
        width: 100%;
        overflow: hidden;
    }

    #logo {
        display: none;
    }

    #logoshort {
        display: block;
    }

    .me {
        padding: 2em;
    }

    .recentpub {
        padding: 2em;
    }

    #contacts1 {
        display: none;
    }

    #contacts2 {
        display: block;
    }


    .about .row {
        padding: 1em;
    }
}


.about {
    background-image: url('../images/waves.svg');
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 550px;
    background-size: contain; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0fa0ce;
}


.about {
    margin-top: 3.5em;
    padding-top: 5em;
}


.sim {
    margin-top: 3.5em;   
}

.clip-circle {
    clip-path: circle(60px at center);
    width: 120px;
}

canvas{
    margin-left:2px;
    margin-right:2px;
    border:1px solid #3a434c;
    background:white;
}


h1 {

    text-align: center;

}
.team{
    margin-bottom:5em;
    text-align:center;
}

.teamImg {
    text-align: center;
    min-height: 150px;   
}

.teamName{
    text-align:center;
}

.paraEmph {
    color: #fff;
    background: #0fa0ce;
    padding: 0 !important;
}

.panel {
    text-align: center;
    overflow: auto;
    flex: 1;
    padding-bottom: 100px;
}

.chart1{
    margin-top:1em;
}

.label{
    font-size:14px;
    background:white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top:10em;
    background-color: white;
    text-align: center;
    box-shadow: 3px 1px 8px 0px rgba(0,0,0,0.1);
}

.highlight {
    border-radius: 5px;
    padding: 5px 15px;
    background: #F2CF66;
    text-align: left;
}
.moving {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #75abdc;
    border-radius: 50%;
    display: inline-block;
}

.infected {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #f2684a;
    border-radius: 50%;
    display: inline-block;
}

#pencil{
    cursor:grab;
}

.newly {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #faaa6d;
    border-radius: 50%;
    display: inline-block;
}

.hospital {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #f5683b;
    border-radius: 50%;
    display: inline-block;
}



.strict {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border: 1px solid #3a434c;
    display: inline-block;
}



.pEmph {    
    padding: 1em;
    border-radius: 7px;
    text-align: left;
    text-align:center;
}

.hint {
    font-size: 20px;
}


.y.axis text {
    font-size: 14px;
}

.x.axis text {
    font-size: 14px;  
}

.line {
    fill: none;
    stroke: #3a434c;
    stroke-width: 3;
}

.area {
    fill: #F2CF66;
}

/*.diffarea {
    fill: rgba(255, 106, 0, 0.1);
}*/

.your-line {
    stroke: #BF471B;
    stroke-width: 3;
    stroke-dasharray: 5 5;
}

#panel1Chart1{
    cursor:pointer;
}

.configCard {
    border: 1px solid #ec602d;
    border-radius: 3px;
    padding: 1em;
}


.grid line {
    stroke: #3A4F6B !important;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.label{
    font-weight:bold;
}

.button-primary{
    cursor:pointer;
}

.button-primary[disabled] {
    background: #ccc !important;
    border-color: #ccc !important;
    text-shadow: none;
}

.button[disabled] {
    background: #ccc !important;
    border-color: #ccc !important;
    text-shadow: none;
}

.emph {
    color: #BF471B;
    font-weight: bold;
}

.emph1 {
    color: #BF471B;
    font-weight: bold;
}

.parah{
    border-radius:10px;
    background: #fff;
    padding:10px;   
}

.shadowLine {
    stroke-dasharray: 8,8;
    stroke: #5b6976;
    stroke-width: 3px;
    fill: none;
}

.criteria{
    font-size:12px !important;
    text-align:left !important;
    line-height: 19px !important;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 6px;
    margin-left: 2em;
    margin-bottom: 1em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    background: white;
}

.userSM  .x{
    display:none;

}
.userSM {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
/*neighborhood*/
.house {
    fill: rgba(215, 220, 223, 0.53);
    stroke-width: 1px;
    stroke: #333537;
}


.mdl-select-workaround {
    border-radius: 0;
    border-style: solid;
    border-color: #BF471B;
    border-width: 0 0 2px 0;
    background: transparent;
    color: #BF471B;
    outline: 0;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word !important;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}


    .mdl-select-workaround option:checked {
        color: #BF471B;
    }

.mdl-select-workaround option:not(:checked) {
    color: #535353;
}

.lbl{
    text-align:left !important;
    padding-left:1.8em;
}

.expl {
    /*text-align: left !important;*/
    padding-left: 2em;
    padding-top:0.5em;
    color:#5e5558;
    font-size:16px;
    margin-bottom:1em;
}
    /*slider*/
    /*.range-slider {
        width: 100%;
    }

.range-slider__range {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

    .range-slider__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #BF471B;
        cursor: pointer;
        -webkit-transition: background 0.15s ease-in-out;
        transition: background 0.15s ease-in-out;
    }

        .range-slider__range::-webkit-slider-thumb:hover {
            background: #BF471B;
        }

    .range-slider__range:active::-webkit-slider-thumb {
        background: #BF471B;
    }

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

    .range-slider__range::-moz-range-thumb:hover {
        background: #BF471B;
    }

    .range-slider__range:active::-moz-range-thumb {
        background: #BF471B;
    }

    .range-slider__range:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px #BF471B;
    }

.range-slider__value {
    display: inline-block;
    position: relative;
    min-width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    vertical-align: center;
    border-radius: 3px;
    background: #BF471B;
    padding: 5px 10px;
    margin-left: 8px;
}

    .range-slider__value:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid #BF471B;
        border-bottom: 7px solid transparent;
        content: "";
    }*/

/* Toggle Slider */
.toggle-container{
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    
.switch input {
opacity: 0;
width: 0;
height: 0;
}

.toggle-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.toggle-slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #BF471B;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #BF471B;
}

input:checked + .toggle-slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.toggle-slider.round {
border-radius: 34px;
}

.toggle-slider.round:before {
border-radius: 50%;
}

.toggle-text{
height: 2em;
}


.checkbox {
    position: relative;
    margin-bottom:1rem;
    /*margin: 0 0.1rem 1.75rem;*/
    display: inline-block;
}

.checkbox input {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.criteria-group, .age-criterion{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: unset;
    padding: 0.5em;
}

.unselected-sim-option, .selected-sim-option{
    white-space: pre;
    font-weight:bold;
}

.unselected-sim-option{
    opacity: 0.3;
}

/*.checkbox input:after {
    position: absolute;
    top: 0.5rem;
    right: 1.75rem;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f067";
    color: white;
    font-size: 1.25rem;
    width: 1.25rem;
}

.checkbox input:checked:after {
    content: "\f00c";
}*/

/*.checkbox .checkbox-label {
    cursor: pointer;
    background: #d7dcdf;
    padding:1rem 1.2rem;
    border-radius: 2.5em;
    transition: 150ms all linear;
    opacity: 1;
}

.checkbox .checkbox-label:hover {
    opacity: 0.8;
}

    .checkbox input:checked + .checkbox-label {
        background: #BF471B;
        color: white;
        transition: 150ms all linear;
    }*/


.range-slider.grad {
    --progress-shadow: 2px 2px 4px rgba(0,0,0, .2) inset;
    --progress-flll-shadow: var(--progress-shadow);
    --fill-color: linear-gradient(to right, LightCyan, var(--primary-color));
    --thumb-shadow: 0 0 4px rgba(0,0,0,.3), -3px 9px 9px rgba(255,255,255,.33) inset, -1px 3px 2px rgba(255,255,255,.33) inset, 0 0 0 99px var(--primary-color) inset;
}

    .range-slider.grad input:hover {
        --thumb-transform: scale(1.2);
    }

    .range-slider.grad input:active {
        --thumb-shadow: inherit;
        --thumb-transform: scale(1);
    }

.range-slider.flat {
    --thumb-size: 25px;
    --track-height: calc(var(--thumb-size)/3);
    --progress-shadow: none;
    --progress-flll-shadow: none;
    --thumb-shadow: 0 0 0 7px var(--primary-color) inset, 0 0 0 99px white inset;
    --thumb-shadow-hover: 0 0 0 9px var(--primary-color) inset, 0 0 0 99px white inset;
    --thumb-shadow-active: 0 0 0 13px var(--primary-color) inset;
}

.range-slider.overlay {
    --primary-color: #ec602d;
    --track-height: 50px;
    --thumb-size: var(--track-height);
    --thumb-color: var(--primary-color);
    --thumb-shadow: none;
    --progress-flll-shadow: none;
    --progress-shadow: none;
    --progress-background: none;
    --progress-radius: 0px;
    --ticks-color: var(--primary-color);
    --ticks-height: 0;
    --ticks-thickness: 0;
    --ticks-gap: 0px;
    --min-max-font: 700 18px Arial;
    --min-max-opacity: 1;
    --show-min-max: none;
    color: #0366D6;
}

    .range-slider.overlay input:hover {
        --thumb-shadow: calc(25px - (50px * var(--is-left-most))) 0 0 -15px #0366D6 inset;
    }

    .range-slider.overlay input:active {
        --thumb-color: inherit;
    }

    .range-slider.overlay .range-slider__values {
        width: calc(100% - 50%/(var(--max) - var(--min)));
    }

.range-slider {
    --primary-color: #ec602d;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color);
    --value-font: 700 12px/1 Arial;
    --fill-color: var(--primary-color);
    --progress-background: #EEE;
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size)/2);
    --min-max-font: 12px Arial;
    --min-max-opacity: .5;
    --min-max-x-offset: 10%;
    --thumb-size: 22px;
    --thumb-color: white;
    --thumb-shadow: 0 0 3px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.5) inset, 0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size)/4) inset var(--thumb-color), 0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0,0,0,.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(--ticks-height, 0);
    --ticks-color: silver;
    --step: 1;
    --ticks-count: (var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)) );
    --tickInterval: 100/((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
    --tickIntervalPerc: calc((100% - var(--thumb-size))/( (var(--max) - var(--min)) / var(--x-step) ) * var(--tickEvery, 1));
    --value-a: Clamp(var(--min), var(--value, 0), var(--max));
    --value-b: var(--value, 0);
    --text-value-a: var(--text-value, "");
    --completed-a: calc((var(--value-a) - var(--min) ) / (var(--max) - var(--min)) * 100);
    --completed-b: calc((var(--value-b) - var(--min) ) / (var(--max) - var(--min)) * 100);
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp(-1, calc(1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + .001) ), 1);
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc(var(--thumb-size)/2 - var(--ticks-thickness)/2);
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
}

    .range-slider[data-ticks-position=top] {
        --flip-y: 1;
    }

    .range-slider::before, .range-slider::after {
        --offset: calc(var(--thumb-size)/2);
        content: counter(x);
        display: var(--show-min-max, block);
        font: var(--min-max-font);
        position: absolute;
        bottom: var(--flip-y, -2.5ch);
        top: calc(-2.5ch * var(--flip-y));
        opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
        transform: translateX(calc( var(--min-max-x-offset) * var(--before, -1) * -1 )) scale(var(--at-edge));
        pointer-events: none;
    }

    .range-slider::before {
        --before: 1;
        --at-edge: var(--thumb-close-to-min);
        counter-reset: x var(--min);
        left: var(--offset);
    }

    .range-slider::after {
        --at-edge: var(--thumb-close-to-max);
        counter-reset: x var(--max);
        right: var(--offset);
    }

.range-slider__values {
    position: relative;
    top: 50%;
    line-height: 0;
    text-align: justify;
    width: 100%;
    pointer-events: none;
    margin: 0 auto;
    z-index: 5;
}

    .range-slider__values::after {
        content: "";
        width: 100%;
        display: inline-block;
        height: 0;
        background: red;
    }



.range-slider__progress {
    --start-end: calc(var(--thumb-size)/2);
    --clip-end: calc(100% - (var(--cb) ) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc(var(--ticks-gap) * var(--flip-y,0) + var(--thumb-size)/2 - var(--track-height)/2);
    height: calc(var(--track-height));
    background: var(--progress-background, #EEE);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}

    .range-slider__progress::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        -webkit-clip-path: var(--clip);
        clip-path: var(--clip);
        top: 0;
        bottom: 0;
        background: var(--fill-color, black);
        box-shadow: var(--progress-flll-shadow);
        z-index: 1;
        border-radius: inherit;
    }

    .range-slider__progress::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: var(--progress-shadow);
        pointer-events: none;
        border-radius: inherit;
    }

.range-slider > input {
    -webkit-appearance: none;
    width: 100%;
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(50% - Max(var(--track-height), var(--thumb-size))/2 + calc(var(--ticks-gap)/2 * var(--flip-y, -1)));
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

    .range-slider > input:not(:only-of-type) {
        pointer-events: none;
    }

    .range-slider > input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: var(--thumb-size);
        width: var(--thumb-size);
        transform: var(--thumb-transform);
        border-radius: var(--thumb-radius, 50%);
        background: var(--thumb-color);
        box-shadow: var(--thumb-shadow);
        pointer-events: auto;
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }

    .range-slider > input::-moz-slider-thumb {
        -moz-appearance: none;
        appearance: none;
        height: var(--thumb-size);
        width: var(--thumb-size);
        transform: var(--thumb-transform);
        border-radius: var(--thumb-radius, 50%);
        background: var(--thumb-color);
        box-shadow: var(--thumb-shadow);
        pointer-events: auto;
        -moz-transition: 0.1s;
        transition: 0.1s;
    }

    .range-slider > input::-ms-thumb {
        appearance: none;
        height: var(--thumb-size);
        width: var(--thumb-size);
        transform: var(--thumb-transform);
        border-radius: var(--thumb-radius, 50%);
        background: var(--thumb-color);
        box-shadow: var(--thumb-shadow);
        pointer-events: auto;
        -ms-transition: 0.1s;
        transition: 0.1s;
    }

    .range-slider > input:hover {
        --thumb-shadow: var(--thumb-shadow-hover);
    }

        .range-slider > input:hover + output {
            --value-background: var(--value-background-hover);
            --y-offset: -5px;
            color: var(--value-active-color);
            box-shadow: 0 0 0 3px var(--value-background);
        }

    .range-slider > input:active {
        --thumb-shadow: var(--thumb-shadow-active);
        cursor: -webkit-grabbing;
        cursor: grabbing;
        z-index: 2;
    }

        .range-slider > input:active + output {
            transition: 0s;
        }

    .range-slider > input:nth-of-type(1) {
        --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999,1);
    }

        .range-slider > input:nth-of-type(1) + output {
            --value: var(--value-a);
            --x-offset: calc(var(--completed-a) * -1%);
        }

            .range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
                --flip: calc(var(--thumbs-too-close) * -1);
            }

            .range-slider > input:nth-of-type(1) + output::after {
                content: var(--text-value-a);
            }

    .range-slider > input:nth-of-type(2) {
        --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999,1);
    }

        .range-slider > input:nth-of-type(2) + output {
            --value: var(--value-b);
        }

    .range-slider > input:only-of-type ~ .range-slider__progress {
        --clip-start: 0;
    }

    .range-slider > input + output {
        --flip: -1;
        --x-offset: calc(var(--completed-b) * -1%);
        --pos: calc(((var(--value) - var(--min))/(var(--max) - var(--min))) * 100%);
        pointer-events: none;
        position: absolute;
        z-index: 5;
        background: var(--value-background);
        border-radius: 10px;
        padding: 2px 4px;
        left: var(--pos);
        transform: translate(var(--x-offset), calc(150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
        transition: all 0.12s ease-out, left 0s;
    }

    .range-slider > input + output::after {
        content: var(--text-value-b);
        font: var(--value-font);
    }