body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #0D0C0C;
    background: #F2F2F2;
    font-size: 22px;
}

/* Color Theme Swatches in Hex */
.hex1 { color: #A3DAE3; }
.hex2 { color: #89A1C9; }
.hex3 { color: #784C87; }
.hex4 { color: #6F2864; }
.hex5 { color: #530F40; }

/* Color Theme Swatches in Hex */
/*.color-theme_Capture-d’écran-2020-03-27-à-10-1-hex { color: #2A020A; }
.color-theme_Capture-d’écran-2020-03-27-à-10-2-hex { color: #734860; }
.color-theme_Capture-d’écran-2020-03-27-à-10-3-hex { color: #A68F9B; }
.color-theme_Capture-d’écran-2020-03-27-à-10-4-hex { color: #F2E9E4; }
.color-theme_Capture-d’écran-2020-03-27-à-10-5-hex { color: #FFFFFF; }*/

/* Color Theme Swatches in Hex */
/*.Color-Theme-11-1-hex { color: #F8B195; }
.Color-Theme-11-2-hex { color: #F67280; }
.Color-Theme-11-3-hex { color: #C06C84; }
.Color-Theme-11-4-hex { color: #6C5B7B; }
.Color-Theme-11-5-hex { color: #355C7D; }*/



canvas{
    margin-left:2px;
    margin-right:2px;
}


h1 {

    text-align: center;

}

.panel {
    padding-top: 1em;
    text-align: center;
    overflow: auto;
    flex: 1;
    padding-bottom: 100px;
}

.label{
    font-size:14px;
    background:white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 3px 1px 8px 0px rgba(0,0,0,0.4);
}

.highlight {
    border-radius: 5px;
    padding: 5px 15px;
    background: #F2CF66;
    text-align: left;
}
.moving {
    height: 15px;
    width: 15px;
    border:1px solid #3a434c;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.infected {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #731D0A;
    border-radius: 50%;
    display: inline-block;
}

.newly {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #F29D35;
    border-radius: 50%;
    display: inline-block;
}

.hospital {
    height: 15px;
    width: 15px;
    border: 1px solid #3a434c;
    background-color: #4EA6A6;
    border-radius: 50%;
    display: inline-block;
}



.strict {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border: 1px solid #3a434c;
    display: inline-block;
}



.pEmph {
    background: #c4e3e6;
    padding: 15px;
    border-radius: 7px;
    text-align: left;
}

.hint {
    font-size: 20px;
}


.y.axis text {
    font-size: 14px;
}

.x.axis text {
    font-size: 14px;  
}

.line {
    fill: none;
    stroke: #3a434c;
    stroke-width: 3;
}

.area {
    fill: #F2CF66;
}

/*.diffarea {
    fill: rgba(255, 106, 0, 0.1);
}*/

.your-line {
    stroke: #BF471B;
    stroke-width: 3;
    stroke-dasharray: 5 5;
}

#panel1Chart1{
    cursor:pointer;
}


.grid line {
    stroke: #3A4F6B !important;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.label{
    font-weight:bold;
}

.button-primary{
    cursor:pointer;
}

.button-primary[disabled] {
    background: #ccc !important;
    border-color: #ccc !important;
    text-shadow: none;
}

.button[disabled] {
    background: #ccc !important;
    border-color: #ccc !important;
    text-shadow: none;
}

.emph {
    color: #BF471B;
    font-weight: bold;
}

.emph1 {
    color: #BF471B;
    font-weight: bold;
}

.parah{
    border-radius:10px;
    background: #fff;
    padding:10px;   
}

.shadowLine {
    stroke-dasharray: 8,8;
    stroke: #5b6976;
    stroke-width: 3px;
    fill: none;
}

.criteria{
    font-size:12px !important;
    text-align:left !important;
    line-height: 15px !important;
    padding-left:30px;
}

.userSM  .x{
    display:none;

}
.userSM {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
/*neighborhood*/
.house {
    fill: rgba(215, 220, 223, 0.53);
    stroke-width: 1px;
    stroke: #333537;
}


.mdl-select-workaround {
    border-radius: 0;
    border-style: solid;
    border-color: #BF471B;
    border-width: 0 0 2px 0;
    background: transparent;
    color: #BF471B;
    outline: 0;
    margin-bottom: 3em;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word !important;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}


    .mdl-select-workaround option:checked {
        color: #BF471B;
    }

.mdl-select-workaround option:not(:checked) {
    color: #535353;
}

.lbl{
    text-align:left !important;
    padding-left:1.8em;
}

.expl {
    /*text-align: left !important;*/
    padding-left: 2em;
    padding-top:0.5em;
    color:#5e5558;
    font-size:16px;
    margin-bottom:1em;
}
    /*slider*/
    .range-slider {
        width: 100%;
    }

.range-slider__range {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

    .range-slider__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #BF471B;
        cursor: pointer;
        -webkit-transition: background 0.15s ease-in-out;
        transition: background 0.15s ease-in-out;
    }

        .range-slider__range::-webkit-slider-thumb:hover {
            background: #BF471B;
        }

    .range-slider__range:active::-webkit-slider-thumb {
        background: #BF471B;
    }

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

    .range-slider__range::-moz-range-thumb:hover {
        background: #BF471B;
    }

    .range-slider__range:active::-moz-range-thumb {
        background: #BF471B;
    }

    .range-slider__range:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px #BF471B;
    }

.range-slider__value {
    display: inline-block;
    position: relative;
    min-width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    vertical-align: center;
    border-radius: 3px;
    background: #BF471B;
    padding: 5px 10px;
    margin-left: 8px;
}

    .range-slider__value:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid #BF471B;
        border-bottom: 7px solid transparent;
        content: "";
    }

/* Toggle Slider */
.toggle-container{
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    
.switch input {
opacity: 0;
width: 0;
height: 0;
}

.toggle-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.toggle-slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #BF471B;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #BF471B;
}

input:checked + .toggle-slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.toggle-slider.round {
border-radius: 34px;
}

.toggle-slider.round:before {
border-radius: 50%;
}

.toggle-text{
height: 2em;
}


.checkbox {
    position: relative;
    margin-bottom:1rem;
    /*margin: 0 0.1rem 1.75rem;*/
    display: inline-block;
}

.checkbox input {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

/*.checkbox input:after {
    position: absolute;
    top: 0.5rem;
    right: 1.75rem;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f067";
    color: white;
    font-size: 1.25rem;
    width: 1.25rem;
}

.checkbox input:checked:after {
    content: "\f00c";
}*/

.checkbox .checkbox-label {
    cursor: pointer;
    background: #d7dcdf;
    padding:1rem 1.2rem;
    border-radius: 2.5em;
    transition: 150ms all linear;
    opacity: 1;
}

.checkbox .checkbox-label:hover {
    opacity: 0.8;
}

    .checkbox input:checked + .checkbox-label {
        background: #BF471B;
        color: white;
        transition: 150ms all linear;
    }
